@import "reset";

body {
  font-family: sans-serif, Arial;
  background: #fff;
}

a {
  color: #a5277e;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
  margin: 2em 0 4em 0;
  color: #666;
}

.container {
  margin: 0 auto;
  width: 60em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #a5277e;

  nav {
    ul {
      list-style: none;

      a {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: #fff;
      }
      li {
        display: inline-block;

      }
    }
  }
}

.main {
  margin: 4em 0 4em 0;
}



