/*
   ==== Demo styles ======
*/



body {
  font-family: sans-serif, Arial;
  background: #fff;
}

a {
  color: #a5277e;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
  margin: 1em 0 1em 0;
  color: #666;
}

.container {
  margin: 0 auto;
  width: 60em;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: #a5277e;

  .page-name {
    direction: rtl;
    flex-grow: 1;
    align-self: center;
    color: #da86c0;
  }

  nav {
    ul {
      list-style: none;
      margin:0;
      padding: 0;
      display: flex;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 10px;
        height: 4em;
        color: #fff;
        &.active,
        &:hover {
          background: #af5d95;
        }
      }
    }
  }
}

.main {
  margin: 5em 0 4em 0;
}



