
    <header class="header">
        <div class="container">
        <nav>
            <ul>
                <li><a [routerLink]="['./home']"  routerLinkActive="active">Home</a></li>
                <li><a [routerLink]="['./about']" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
            <div class="page-name">
                Angular2 & Webpack2
            </div>
        </div>
    </header>


    <main class="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>

